PUBLIC_AVAILABLE_FOR_CONTRACTS=true

PUBLIC_GITHUB_URL=https://github.com/astar-development
PUBLIC_NUGET_URL=https://www.nuget.org/profiles/AStar-Development

MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=
CONTACT_EMAIL=
MAILJET_FROM_EMAIL=

# leave blank to disable analytics
APPLICATIONINSIGHTS_CONNECTION_STRING=
