PUBLIC_AVAILABLE_FOR_CONTRACTS=true

PUBLIC_GITHUB_URL=https://github.com/astar-development
PUBLIC_NUGET_URL=https://www.nuget.org/profiles/AStar-Development

# leave blank to disable analytics
APPLICATIONINSIGHTS_CONNECTION_STRING=
